.list-container {
  display: flex;
}

.computer-response {
  margin-top: 5%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p.computer-selection-title {
    align-self: baseline;
  }
  img {
    width: 50%;
  }

  p.result-message {
    margin-top: 5%;
    font-weight: bold;
  }
}
@media (min-width: 762px) {
  .game-board-container {
    display: flex;

    .list-container {
      width: 50%;
    }
    .computer-response {
      width: 50%;
      margin-top: 0;
      justify-content: initial;
      p.computer-selection-title {
        align-self: initial;
      }
    }
  }
}
