<div class="list-container">
  <app-rsp-button
    *ngFor="let item of buttonsList"
    [image]="RSP_VALUES_IMAGES_MAP.get(item)"
    [value]="item"
    (valueEmitter)="onButtonClick($event)"
  ></app-rsp-button>
</div>
<div class="computer-response" *ngIf="currentGame && _result">
  <p class="computer-selection-title">Tu rival escogió:</p>
  <img
    src="assets/img/{{
      RSP_VALUES_IMAGES_MAP.get(currentGame.lastPlayComputer)
    }}"
  />
  <p class="result-message">
    {{ RSP_RESULT_MESSAGES_MAP.get(_result) }}
  </p>
</div>
