@import "../../../theme-colors/custom-theme-colors";

img {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;

  &.buttonSelected {
    img {
      background: radial-gradient(
        ellipse at center,
        $light-blue 0%,
        $light-blue 68%,
        transparent 70%,
        transparent 47%,
        transparent 48%
      );
    }
  }
}
