<app-custom-global-spinner></app-custom-global-spinner>

<main class="main-container">
  <header>
    <app-header></app-header>
  </header>
  <nav id="navigationSidebar">
    <!-- <app-navigation> </app-navigation> -->
  </nav>

  <section class="content-wrap">
    <router-outlet></router-outlet>
  </section>
  <footer>
    <!-- <app-footer class="footer-container"></app-footer> -->
  </footer>
</main>

<!-- <main class="main-container">
  <header class="header">Header</header>
  <nav class="sidebar">Nav</nav>
  <section class="section">Section</section>
  <footer class="footer">Footer</footer>
</main> -->
