// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rsp-front-primary: mat.define-palette(mat.$indigo-palette);
$rsp-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rsp-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rsp-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $rsp-front-primary,
      accent: $rsp-front-accent,
      warn: $rsp-front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rsp-front-theme);

/* You can add global styles to this file, and also import other style files */
@import "./theme-colors/custom-theme-colors.scss";

// @font-face {
//   font-family: "BentonSansBBVA";
//   src: url("./assets/fonts/BentonSansBBVA-Medium.otf");
//     font-weight: normal;
//   font-style: italic;
// }

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-Medium.otf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-MediumItalic.otf");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-BookItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "BentonSansBBVA";
  src: url("./assets/fonts/BentonSansBBVA-Light.otf");
  font-weight: light;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: BentonSansBBVA, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

button.mat-button {
  background-color: $light-blue;
  color: #fff;

  span {
    color: #fff;
  }
}

input.ng-invalid.ng-dirty {
  border-color: red;
}
