<div class="start-game-container">
  <form [formGroup]="startGameForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre de usuario</mat-label>
      <mat-error *ngIf="username.hasError('pattern')">
        El nombre sólo puede contener letras y números
      </mat-error>
      <mat-error *ngIf="username.hasError('required')">
        Es necesario introducir un nombre para jugar
      </mat-error>
      <input
        type="text"
        matInput
        formControlName="username"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <button
      mat-button
      (click)="onStartButtonClick()"
      *ngIf="startGameForm.valid"
    >
      Empezar juego
    </button>
    <!-- <div *ngIf="username.dirty && username.errors" class="errors">
      <p *ngIf="username.errors['required']">
        Es necesario introducir un nombre para jugar
      </p>
      <p *ngIf="username.errors['pattern']">
        El nombre sólo puede contener letras y números
      </p>
    </div> -->
  </form>
</div>
