button.mat-button.exit-button {
  width: 40px;
  min-width: 0;
  padding-left: 7px;
  height: 47px;
}

img {
  filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
  width: 30px;
}
